<h3><%= @video.title %></h3>

<p>URL: <%= @video.url %></p>

<p>Description: <%= @video.description %></p>

<h5>Comments:</h5>

<ul class="comments">
  <% @video.comments.each do |comment| %>
    <li><%= comment.body %></li>
  <% end %>
</ul>

<div>
  <%= form_for [@video, @comment] do |f| %>
    <% if @comment.errors.full_messages.any? %>
      <ul>
        <p>You had some errors:</p>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.text_area :body %>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
